name: Build Android APK
on:
  workflow_dispatch: 
  push:
    branches:
      - main

jobs:
  build:
    name: EAS Build (APK)
    runs-on: ubuntu-latest
    steps:
      - name: Check for EXPO_TOKEN
        run: |
          if [ -z "${{ secrets.EXPO_TOKEN }}" ]; then
            echo "You must provide an EXPO_TOKEN secret linked to this project's Expo account in this repo's secrets. https://expo.dev/accounts/[account]/settings/access-tokens"
            exit 1
          fi

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          # cache: npm # Temporarily disabled due to GitHub Actions cache service 400 errors

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        run: npm ci

      - name: Build Android APK
        run: eas build --platform android --profile apk --non-interactive --no-wait
